#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0;
  background-color: #535bf2;
  margin-top: -100px;
}
.navbar a {
  text-decoration: none;
  padding: 10px;
  color: white;
  transition: color 0.2s ease;
}

.navbar a active {
  color: red;
  font-weight: bold;
}
.planetearth {
  width: 200px;
}

.form-styling {
  position: relative;
  margin: 8% auto;
  padding: 12px 20px;
  margin-bottom: 50px;
  width: 100%;

  display: grid;
  grid-gap: 50px;
  grid-template-rows: 1.5em 1.5em 1.5em 1.5em;
  height: 100%;
  background-color: white;
}

.input-styling {
  background-color: white;

  padding: 10px;
  width: 100%;
  border-color: #646cff;
  margin: 10px 0;
  height: 20px;
  border-radius: 10px;
  color: rgb(37, 7, 170);
  font-weight: bold;
  font-size: medium;
}
.input-styling:placeholder-shown {
  color: rgb(37, 7, 170);
  font-weight: bold;
  font-size: medium;
}
.input-styling:focus {
  border-color: rgb(37, 7, 170);
  font-weight: bold;
  font-size: medium;
}
.input-styling:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.94);
}
.button-styling {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
